/*!
 *	Data Tables
 */
.data-table-filter, 
.data-table-count {
	float: left;
	margin-left: 2px;
}

.data-table-filter {
	width: 120px;
}

.data-table-count {
	width: 60px;
}

.dataTables_wrapper .label {
	padding: 1px 3px;
}

.dataTables_wrapper table.dataTable tbody tr.selected {
    background-color: #BFBDC6;
}
.td-no-wrap {
	white-space: nowrap;
}

/*!
 *	data-details-container (the reactor to activations in dataTable) -> reused in editor
 */

.details-container .tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	overflow: hidden;
}


/*!
 *	Generic
 */
.codearea {
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	font-size: 90%;
}

.help-sign {
	color: #2AABD2;
	cursor: pointer;
}

.glyphicon-color-info {
	color: #2AABD2;
}

.glyphicon-color-success {
	color: #419641;
}

.glyphicon-color-warning {
	color: #EB9316;
}

.glyphicon-color-danger {
	color: #AC2925;
}

.legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333;
    display: block;
    font-size: 21px;
    line-height: inherit;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

.server-error-container {
	background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    color: #a94442;
    max-height: 500px;
    overflow: auto;
    padding: 10px;
}

/*!
 *	Content wrapping
 */
#primary-content-area {
	margin-top: 60px;
}

.container-fluid #primary-content-area { }

 
#main-content-wrapper {
	background: #fff;
	
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
	
	/* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
  	-webkit-border-radius: 5px; 	
  	/* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
    border-radius: 5px;

  	/* useful if you don't want a bg color from leaking outside the border: */
  	-webkit-background-clip: padding-box; background-clip: padding-box;
  
  	padding-bottom: 20px;
  	/* Menus should be shown even when not in white area */
  	/*overflow: hidden;
  	position:relative;
	z-index: 2;*/
}
#main-content {
	padding: 0 15px;
}

#main-content h2 {
	margin-top: 0px;
}

#notifications-area {    
    position: absolute;
    z-index: 1000;
}

#notifications-area .alert {
	margin: 10px 0;
	opacity: 1;
}

.alert.alert-sm {
	font-size: 85%;
    margin-bottom: 8px;
    padding: 6px 9px;
    /*clear: both;
      float: left;*/
}

/*!
 *	Side navigation
 */
.sidebar {
	float: right;
	margin: -35px -30px 0 auto;
}
 
.sidebar .list-group {
	box-shadow: none;
	margin-bottom: 5px;
	
	/*margin: -35px -20px 0 auto;*/
	width: 260px;
}

.sidebar .list-group.active {
	padding-bottom: 8px;
	
	background-color: #ffffff;
	
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
		
	border-top-right-radius: 0px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
	border-bottom-right-radius: 0px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
	-webkit-border-top-right-radius: 0px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	-webkit-border-bottom-right-radius: 0px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	    	
	/* useful if you don't want a bg color from leaking outside the border: */
	-webkit-background-clip: padding-box; 
	background-clip: padding-box;
}

.sidebar .list-group-item {
	padding: 3px 15px 3px 37px;
	border : none;
}

.sidebar-logo {
	margin-bottom: 20px;
	margin-right: 30px;
}

.sidebar .sidebar-title {
	padding-left: 20px;
	margin-bottom: 0;
	padding-bottom: 10px;
}

.sidebar .active .sidebar-title {
	border-bottom: 1px solid #f0f0f0;
}

.sidebar .sidebar-title a {
	color: inherit;
}

.sidebar .sidebar-title a:hover,
.sidebar .sidebar-title a:focus,
.sidebar .sidebar-title a:visited {
	color: inherit;
	text-decoration: none;
}


/*!
 *	Logos
 */ 
.dariah-flower-white-45,
.dariah-flower-white-83 {
	background-repeat: no-repeat;
	background-position: top left;
	font-family: "MuseoSansRounded700";
	font-weight: 500;
	white-space: nowrap;
}

.dariah-flower-white-83 {
	background-image: url("../img/dariah-flower-white-83.png");
	padding: 48px 0 0 50px;
	min-height: 85px;
	font-size: 30px;
	white-space: nowrap;
}

.dariah-flower-white-45 {
	background-image: url("../img/dariah-flower-white-45.png");
	padding: 26px 0 0 30px;
	margin-top: 15px;
	min-height: 45px;
	font-size: 22px;
	white-space: nowrap;
}

.mini-loader {
	background-image: url("../img/mini-loader.gif");
	background-repeat: no-repeat;
	background-position: top center;
	height: 14px;
	width: 14px;
	display: inline-block;
}

.loader {
	background-image: url("../img/loader.gif");
	background-repeat: no-repeat;
	background-position: top center;
	height: 32px;
	/*width: 32px;*/
}


/*!
 *	Smaller jumbotron
 */
.jumbotron.jumbotron-small {
	padding: 10px 0;
}
.jumbotron.jumbotron-small h1 {
	font-size: 3em;
}

/*!
 *	Auxiliary stuff
 */
noscript div {
    background-color: #AE0000;
    color: #FFFFFF;
    font-family: "MuseoSansRounded700";
    font-size: 125%;
    /*font-weight: bold;*/
    left: 0;
    padding: 6px 0left;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1100;
}

/*!
 *	Modals
 */
body .modal.wide-modal {
	width: 650px;
	margin-left: -300px;
}

body .modal.wider-modal {
	width: 800px;
	margin-left: -400px;
}

body .modal.max-modal {
	min-width: 1000px;
	width: 80%;
	margin-left: -40%;
}

body .modal.narrow-modal {
	width: 350px;
	margin-left: -170px;
}

body .modal.modal450 {
	width: 450px;
	margin-left: -225px;
}

/*!
 *	Table for (lang, accrual etc.)
 */
.collection-editor-table {
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.collection-editor-table tr.list {
	cursor: pointer;
}

.collection-editor-table tr.list.has-error {
	background-color: #F2DEDE;
}

.collection-editor-table tr td, .collection-editor-table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 4px 8px;
}

/*.collection-editor-table tr:nth-child(4n+1),
.collection-editor-table tr:nth-child(4n+2) { 
	background-color: #f2f2f2
}*/

.collection-editor-table tr:nth-child(2n+1) td { 
	border-bottom: 0px;
}

.collection-editor-table tr:nth-child(2n+2) td { 
	border-top: 1px dashed #ddd;
}

.collection-editor-table tr.list:hover {background-color: #ddd;}

.collection-editor-table tr.list.has-error:hover {
	background-color: #F2DEDE;
}

.collection-editor-table th {
    /*padding-top: 8px;
    padding-bottom: 8px;*/
    background-color: #666;
    color: white;
}

.collection-editor-table th.nowrap, 
.collection-editor-table td.nowrap {
	white-space: nowrap;
}

.collection-editor-table th.explode {
	width: 100%;
} 

.collection-editor-buttons {
	float: right;
	margin-top: 5px;
}

.collection-editor-table .row-open {
	background-color: #f2f2f2 !important;
}

/* List */
.collection-editor-list {
	list-style: none;
	padding-left: 0;
}

.collection-editor-list-item,
.collection-editor-list-buttons {
	margin-left: -15px;
    margin-right: -15px;
    clear: both;
}

.collection-editor-list-input {
	padding-right: 2px;
}

.collection-editor-list-item-buttons {
	float: left !important;
	padding-top: 5px;
}

.attribute-name-helper {
	display: none;
	position: absolute; 
	height: 0;
	width: 0;
}

/*!
 *	Typeahead
 */
.twitter-typeahead {
	width: 100%;
}
 
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999;
}
.tt-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 6px 0;
    padding: 8px 0;
    width: 400px;
}
.tt-suggestion,
.tt-empty-message {
    font-size: 14px;
    line-height: 16px;
    padding: 3px 20px;
}
.tt-suggestion:hover {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
}
p.tt-suggestion {
    margin: 0;
}

/*
 *  Playing with sidenav...
 */ 
.sidebar {
	/*position: fixed;
    top: 100px;
    margin-left: 30px;*/
    width: 270px;
}

.sidebar .nav-form-controls {
	background: #fff none repeat scroll 0 0 padding-box;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -20px;
}

.sidebar nav {
	padding-left: 20px;
}

.sidebar .nav-form-controls .nav > li.mandatory > a {
	font-weight: bold;
}

.sidebar .nav-form-controls .nav > li {
    /*border-top: 1px solid #CCC;*/
}

.sidebar .nav-form-controls .nav > li > a {
    color: #555;
    display: block;
    font-size: 15px;
    padding: 4px 20px 4px 10px;
}
.sidebar .nav-form-controls .nav > li.has-error > a {
	color: #a94442;
	font-weight: bold;
}

.sidebar .nav-form-controls .nav > li > a:focus, 
.sidebar .nav-form-controls .nav > li > a:hover {
    background-color: transparent;
    border-left: 1px solid #563d7c;
    color: #563d7c;
    padding-left: 9px;
    text-decoration: none;
}

.sidebar .nav-form-controls .nav > li.has-error > a:focus, 
.sidebar .nav-form-controls .nav > li.has-error > a:hover {
	color: #a94442;
	border-left: 1px solid #a94442;
}

.sidebar .nav-form-controls .nav > .active:focus > a, 
.sidebar .nav-form-controls .nav > .active:hover > a, 
.sidebar .nav-form-controls .nav > .active > a {
    background-color: transparent;
    border-left: 2px solid #563d7c;
    color: #563d7c;
    
    padding-left: 18px;
}
.sidebar .nav-form-controls .nav .nav {
    /*display: none;*/
    padding-bottom: 10px;
}
.sidebar .nav-form-controls .nav .nav > li > a {
    font-size: 12px;
    
    padding-bottom: 1px;
    padding-left: 30px;
    padding-top: 1px;
}

.sidebar .nav-form-controls .nav .nav > li {
	border: none;
} 

.sidebar .nav-form-controls .nav .nav > li > a:focus, 
.sidebar .nav-form-controls .nav .nav > li > a:hover {
    padding-left: 29px;
}
.sidebar .nav-form-controls .nav .nav > .active:focus > a, 
.sidebar .nav-form-controls .nav .nav > .active:hover > a, 
.sidebar .nav-form-controls .nav .nav > .active > a {
    padding-left: 28px;
}
.sidebar .nav-form-controls .nav .nav > .has-error.active:focus > a, 
.sidebar .nav-form-controls .nav .nav > .has-error.active:hover > a, 
.sidebar .nav-form-controls .nav .nav > .has-error.active > a {
    color: #a94442;
	border-left: 2px solid #a94442;
}

label.control-label {
	font-weight: normal;
	font-style: italic;
}


.editor-section {
	border: 1px solid #CCC;
	border-radius: 5px;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);*/
    padding-left: 10px;
    padding-right: 10px;
    /*padding-bottom: 10px;*/
    margin-bottom: 20px;
    /*overflow: hidden;*/
}

.editor-section-heading {
	border-radius: 5px 5px 0 0;
	background-color: #EFEFEF;
	padding: 3px 10px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.collection-editor-list-buttons .btn-collection-editor-add,
.collection-editor-list-buttons .btn-collection-editor-add-scheme {
	padding-top: 8px;
}

.alert-default {
    background-image: linear-gradient(to bottom, #e8e8e8 0px, #f5f5f5 100%);
    background-repeat: repeat-x;
    border-color: #dcdcdc;
}

.validation-error {
	clear: both;
	color: #a94442;
	margin-bottom: 8px;
    margin-top: -3px;
}

.container-error {
	color: #a94442;
}

#collapse-panel-trigger {
	position: fixed;
	right: 0px;
	top: 50%;
	width: 15px;
	height: 55px;
	color: #FFFFFF;
	
	background-image: linear-gradient(to bottom, #7a7395 0px, #5d5773 100%);
    background-repeat: repeat-x;
    border-color: #5d5773;
    border-style: solid;
    
	border-radius: 5px 0 0 5px;
	border-width: 1px;
	border-right: none;
	
	text-align:	center;
	vertical-align:	middle;
	cursor: pointer;
	padding-top: 15px;
	z-index: 10;
}

#collapse-panel-trigger:hover, 
#collapse-panel-trigger:focus {
    background-color: #5d5773;
    background-position: 0 -15px;
}

#editor-version-panel {
    background: #FFFFFF;
	
	z-index: 11;
	color: #888;
	border-left: 1px solid #483E69;
	box-shadow: 0 5px 10px rgba(42, 173, 210, 0.4);
	max-width: 280px;
}

#editor-version-panel h3 {
	display: block;
	padding: 60px 10px 20px 10px;
	margin-top: 0;
	margin-bottom: 0;
	background-image: linear-gradient(to right, #7a7395 0px, #5d5773 100%);
	color: #FFFFFF;
}

#editor-version-panel ul {
	padding: 0;
	list-style: none;
}
	
#editor-version-panel li {
	display: block;
	padding: 5px 10px;
	margin: 0;
	border-bottom: 1px solid #483E69;
	color: #444;
	font-size: 90%;
	border-left: 5px solid transparent;
}

#editor-version-panel li.version-selected {
	background-color: #E6E6E6;
}

#editor-version-panel li.version-deleted {
	border-left-color: #F00;
}

#editor-version-panel li.version-draft {
	border-left-color: #888;
}

#editor-version-panel li.version-published {
	border-left-color: #31B0D5;
}

#editor-version-panel li .version-action {
	font-size: 120%;
	font-weight: bold;
}

#editor-version-panel li.version-deleted .version-action {
	color: #F00;
}

#editor-version-panel li.version-draft .version-action {
	color: #777;
}

#editor-version-panel li.version-published .version-action {
	color: #31B0D5;
}

#editor-version-panel li a {
	color: #444;
	text-decoration: none;
}

.editor-hint {
	padding: 5px;
	padding-left: 25px;
	margin-top: 3px;
	margin-bottom: 6px;
	
	font-size: 95%;
	font-style: italic;
	color: #555;
}

.editor-hint span.glyphicon {
	margin-left: -20px;
}