paths.logging=/data/_srv/colreg3/log

url.login=/login
url.logout=/logout

#url.login=/saml/login
#url.logout=/saml/logout?local=true

api.schereg.baseUrl			= http://localhost:8081/
api.schereg.schemaLink		= ${api.schereg.baseUrl}schema/editor/%s/
api.schereg.schemas			= ${api.schereg.baseUrl}api/schemas

#!
#!	Database configuration 
#!
db.host=127.0.0.1
db.port=27017
db.database=colreg
